.signin-button{
    height: 50px;
    width: 350px;
    background: transparent;
    border: 3px solid var(--purple);
    color: var(--purple);
    font-family: var(--fredoka);
    font-size: 24px;
    border-radius: 8px;
    justify-self: center;
}
.signin-button:hover{
    color: var(--white);
    background: var(--purple);
}
.signup-button{
    height: 50px;
    width: 350px;
    background: transparent;
    border: 3px solid var(--purple);
    color: var(--purple);
    font-family: var(--fredoka);
    font-size: 24px;
    border-radius: 8px;
    justify-self: center;
}
.signup-button:hover{
    color: var(--white);
    background: var(--purple);
}
.edit-button{
    height: 40px;
    width: 40px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    color: var(--green);
    background: transparent;
    border: 2px solid var(--green);
}
.edit-button:hover{
        background: var(--green);
        color: var(--white);
}
.delete-button{
    height: 40px;
    width: 40px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    color: var(--red);
    background: transparent;
    border: 2px solid var(--red);
}
.delete-button:hover{
    background: var(--red);
    color: var(--white);
}
.close-button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--purple);
    color: var(--white);
    border: none;
}

.cancel-button{
    height: 40px;
    width: 100px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    color: var(--red);
    background: transparent;
    border: 2px solid var(--red);
}
.cancel-button:hover{
    background: var(--red);
    color: var(--white);
}
.save-button{
    height: 40px;
    width: 100px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    color: var(--green);
    background: transparent;
    border: 2px solid var(--green);
}
.save-button:hover{
    background: var(--green);
    color: var(--white);
}