body{
    height: 100vh;
    width: 100vw;
    background: var(--black);
    display: grid;
    overflow: hidden;
}
.signup-box{
    height: 70%;
    width: 65%;
    background: var(--gray);
    border-radius: 30px;
    justify-self: center;
    align-self: center;
    padding: 45px 0px 0px 0px;
    display: grid;
}
img{
    height: 79px;
    width: 350px;
    justify-self: center;
}
h1{
    font-size: 32px;
    font-family: var(--fredoka);
    color: var(--purple);
    justify-self: center;
}
form{
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-box{
    height: 50px;
    width: 700px;
    border: 3px solid var(--purple);
    border-radius: 8px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
i{
    font-size: 32px;
    color: var(--purple);
}
input{
    height: 100%;
    width: 93%;
    outline: 0;
    border: 0;
    background: transparent;
    color: var(--white);
    font-size: 24px;
    font-family: var(--fredoka);
}

input::placeholder{
    color: var(--white);
}
.signin-message{
    display: flex;
    gap: 5px;
    justify-self: center;
}
p{
    font-size: 24px;
    font-family: var(--inria);
    font-weight: lighter;
    color: var(--white);
}
span{
    font-size: 24px;
    font-family: var(--inria);
    font-weight: lighter;
    color: var(--purple);
}